@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "ITC";
  src: url("../assets/fonts/ITC Caslon 224 Std/ITC Caslon 224 Std Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ITC";
  src: url("../assets/fonts/ITC Caslon 224 Std/ITC Caslon 224 Std Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ITC";
  src: url("../assets/fonts/ITC Caslon 224 Std/ITC Caslon 224 Std Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.checkout {
  margin-top: 28px;
}
@media only screen and (max-width: 480px) {
  .checkout .main-form .main-form-btn {
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .checkout .main-form .main-form-btn a svg {
    margin-right: 8px;
  }
}
@media only screen and (max-width: 480px) {
  .checkout .main-form .checkout-submit {
    padding: 15px 28px;
    font-size: 16px;
  }
}
.checkout input::-moz-placeholder {
  color: #000000;
}
.checkout input::placeholder {
  color: #000000;
}
.checkout .checkout-express h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 52px;
  margin-bottom: 20px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .checkout .checkout-express h4 {
    margin-bottom: 0;
  }
}
.checkout .checkout-express .checkout-express-select {
  margin-bottom: 17px;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1199px) {
  .checkout .checkout-express .checkout-express-select {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .checkout .checkout-express .checkout-express-select {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.checkout .checkout-or {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 9px;
}

.payment {
  position: relative;
  z-index: 2;
}
.payment .payment-list {
  margin-bottom: 29px;
}
.payment .payment-product {
  position: relative;
  padding: 8px 0;
  display: flex;
  margin-bottom: 26px;
}
@media only screen and (max-width: 480px) {
  .payment .payment-product {
    flex-wrap: wrap;
  }
}
.payment .payment-product .count {
  position: absolute;
  top: 0;
  left: 89px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .payment .payment-product .count {
    left: 48px;
  }
}
.payment .payment-product .payment-product-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  flex-shrink: 0;
}
@media only screen and (max-width: 480px) {
  .payment .payment-product .payment-product-img {
    width: 64px;
    height: 64px;
    margin-right: 12px;
  }
}
.payment .payment-product .payment-product-info {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .payment .payment-product .payment-product-info {
    width: calc(100% - 140px);
  }
}
.payment .payment-product .payment-product-info a {
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #333333;
}
.payment .payment-product .payment-product-info p {
  font-size: 12px;
  line-height: 16px;
  color: #616161;
}
.payment .payment-product .payment-product-price {
  width: 100px;
  text-align: end;
  font-size: 14px;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .payment .payment-product .payment-product-price {
    text-align: left;
    float: right;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.payment .payment-discount {
  position: relative;
  margin-bottom: 26px;
}
.payment .payment-discount input {
  width: 100%;
  height: 53px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ededed;
  transition: all ease 0.3s;
}
.payment .payment-discount input:focus {
  border-color: #7a7a7a;
}
.payment .payment-discount input::-moz-placeholder {
  color: #000000;
}
.payment .payment-discount input::placeholder {
  color: #000000;
}
.payment .payment-discount .payment-discount-apply {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 31px;
  font-size: 14px;
  line-height: 51px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 0 3px 3px 0;
}
.payment .payment-bill table tr th,
.payment .payment-bill table tr td {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  padding-bottom: 10px;
  color: #000000;
}
.payment .payment-bill table tr th {
  font-weight: 300;
}
.payment .payment-bill table tr td {
  font-weight: 600;
  text-align: end;
}
.payment .payment-bill table tr td span {
  color: #ff0000;
  font-weight: 600;
}
.payment .payment-bill table tr td h5 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 9px;
}
@media only screen and (max-width: 480px) {
  .payment .payment-bill table tr td h5 {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.payment .payment-bill table tr td h5 svg {
  margin-right: 6px;
}
.payment .payment-bill table tbody tr:last-child td {
  padding-bottom: 23px;
}
.payment .payment-bill table tfoot {
  border-top: 1px solid #eeeeee;
}
.payment .payment-bill table tfoot tr th,
.payment .payment-bill table tfoot tr td {
  padding-top: 20px;
}
.payment .payment-bill table tfoot tr th {
  font-weight: 500;
}
.payment .payment-bill table tfoot tr th span {
  font-size: 12px;
  font-weight: 300;
}
.payment .payment-bill table tfoot tr td {
  font-size: 20px;
}