#fhm-contact-us {
  margin-top: 100px;
}
#fhm-contact-us .contact-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#fhm-contact-us .contact-us-container .contact-content,
#fhm-contact-us .contact-us-container .contact-form {
  width: 47%;
}
#fhm-contact-us .contact-us-container h3 {
  text-align: start;
  margin-bottom: 10px;
}
#fhm-contact-us .contact-us-container p {
  color: #575757;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.24px;
}
#fhm-contact-us .contact-us-container .contact-form {
  display: inline-flex;
  padding: 60px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
#fhm-contact-us .contact-us-container .contact-form .title-top-form {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
#fhm-contact-us .contact-us-container .contact-form .main-form {
  margin-top: 20px;
}
.col-group {
  display: flex;
  gap: 16px;
}
#fhm-contact-us .main-form .main-form-control:focus-visible {
  border: 1px solid #ededed;
}

/* CONTACT US ADDRESS */
#fhm-contact-us-address {
  margin-top: 100px;
  aspect-ratio: 1600/460;
}
#fhm-contact-us-address iframe {
  width: 100%;
}

/* CONTACT CHANNEL */
#fhm-contact-channel {
  margin-top: 100px;
}
#fhm-contact-channel .contact-channel-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  padding: 35px 70px;
}
#fhm-contact-channel .contact-channel-container .item-contact-channel {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 250px;
}
#fhm-contact-channel .contact-channel-container .item-contact-channel span {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
#fhm-contact-channel .contact-channel-container .item-contact-channel p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.024px;
}
@media (max-width: 991px) {
  #fhm-contact-us .contact-us-container {
    flex-direction: column;
    gap: 50px;
  }
  #fhm-contact-us .contact-us-container .contact-content, #fhm-contact-us .contact-us-container .contact-form {
    width: 100%;
}
#fhm-contact-us .contact-us-container .contact-form .title-top-form,
#fhm-contact-us .contact-us-container .contact-form .main-form {
  width: 100%;
}
}
@media (max-width: 575px) {
  #fhm-contact-us .contact-us-container .contact-form {
    padding: 50px 20px;
  }
}
@media (max-width: 480px) {
  #fhm-contact-channel .contact-channel-container {
    padding: 35px;
  }
}
