@import "../assets/fonts/Manrope/";
.feature {
  display: flex;
}

.pictures {
  padding-top: 90px;
  width: calc(100% - 427px);
  position: relative;
  transition: width cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}
@media only screen and (max-width: 1199px) {
  .pictures {
    width: calc(100% - 390px);
  }
}
@media only screen and (max-width: 991px) {
  .pictures {
    width: 100%;
    padding-top: 22px;
    margin-bottom: 310px;
  }
}
.pictures.full {
  width: 100%;
}
.pictures .pictures-nav {
  padding: 0 47px 22px 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pictures .pictures-mode {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pictures .pictures-mode .pictures-mode-btn {
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .pictures .pictures-mode .pictures-mode-btn {
    display: none;
  }
}
.pictures .pictures-mode .pictures-mode-btn span {
  font-size: 14px;
  margin-left: 9px;
}
.pictures .pictures-view-prev svg,
.pictures .pictures-view-next svg {
  width: 12px;
}
.pictures .pictures-view-prev.swiper-button-disabled,
.pictures .pictures-view-next.swiper-button-disabled {
  opacity: 0.3;
}
.pictures .pictures-view-pagination {
  font-weight: 700;
  font-size: 16px;
  width: 36px;
}
.pictures .pictures-action {
  display: flex;
  align-items: center;
  gap: 23px;
}
.pictures .pictures-action .pictures-action-zoomin,
.pictures .pictures-action .pictures-action-zoomout {
  opacity: 0.4;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 991px) {
  .pictures .pictures-action .pictures-action-zoomin,
  .pictures .pictures-action .pictures-action-zoomout {
    display: none;
  }
}
.pictures .pictures-action .pictures-action-zoomin svg,
.pictures .pictures-action .pictures-action-zoomout svg {
  width: 24px;
  height: 24px;
}
.pictures .pictures-action .pictures-action-zoomin.active,
.pictures .pictures-action .pictures-action-zoomout.active {
  opacity: 1;
  cursor: pointer;
}
.pictures .pictures-action .pictures-action-fullscreen {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .pictures .pictures-action .pictures-action-fullscreen {
    display: none;
  }
}
.pictures .pictures-action .pictures-action-fullscreen .pictures-action-fullscreen-default {
  opacity: 1;
  visibility: visible;
}
.pictures .pictures-action .pictures-action-fullscreen .pictures-action-fullscreen-back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.pictures .pictures-action .pictures-action-fullscreen.full .pictures-action-fullscreen-default {
  opacity: 0;
  visibility: hidden;
}
.pictures .pictures-action .pictures-action-fullscreen.full .pictures-action-fullscreen-back {
  opacity: 1;
  visibility: visible;
}
.pictures .pictures-action .pictures-action-back {
  display: none;
}
@media only screen and (max-width: 991px) {
  .pictures .pictures-action .pictures-action-back {
    display: block;
  }
}
.pictures .pictures-view {
  height: 90vh;
}
@media only screen and (max-width: 991px) {
  .pictures .pictures-view {
    height: 65vh;
  }
}
@media only screen and (max-width: 767px) {
  .pictures .pictures-view {
    height: 55vh;
  }
}
.pictures .pictures-view .pictures-view-item {
  max-height: calc(100vh - 140px);
  max-width: 100%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn ease 0.75s;
}
.pictures .pictures-view .pictures-view-item img {
  width: auto;
  height: auto;
  max-height: calc(100vh - 140px);
}
@media only screen and (max-width: 991px) {
  .pictures .pictures-view .pictures-view-item img {
    max-width: 100%;
    max-height: none;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 991px) {
  .pictures .pictures-view .pictures-view-item {
    max-height: none;
    max-width: none;
    display: block;
    height: auto;
    position: relative;
    overflow-y: scroll;
    height: 100%;
  }
  .pictures .pictures-view .pictures-view-item::-webkit-scrollbar {
    width: 10px;
    background-color: #e3e3e3;
    display: none;
  }
  .pictures .pictures-view .pictures-view-item::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
  }
  .pictures .pictures-view .pictures-view-item img {
    width: 100%;
    max-height: none;
  }
}
.pictures .pictures-view.zoom .pictures-view-item {
  max-height: none;
  max-width: none;
  display: block;
  height: auto;
  position: relative;
  overflow-y: scroll;
  height: 100%;
}
.pictures .pictures-view.zoom .pictures-view-item::-webkit-scrollbar {
  width: 10px;
  background-color: #e3e3e3;
  display: none;
}
.pictures .pictures-view.zoom .pictures-view-item::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
}
.pictures .pictures-view.zoom .pictures-view-item img {
  width: 100%;
  max-height: none;
}
.pictures .pictures-preview {
  height: calc(100vh - 136px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 17px 10px 50px 10px;
  transform: translateX(-100%);
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}
.pictures .pictures-preview.active, .pictures .pictures-preview.show {
  transform: translateX(0%);
}
.pictures .pictures-preview .pictures-preview-slider {
  height: 100%;
  overflow: hidden;
}
.pictures .pictures-preview .pictures-preview-item {
  width: 65px;
  height: 90px;
  padding: 5px;
  border-radius: 4px 5px;
  border: 1px solid transparent;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pictures .pictures-preview .pictures-preview-item.swiper-slide-thumb-active {
  border: 1px solid #000000;
}
.pictures .pictures-preview .pictures-preview-next {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 11;
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: #ffffff;
}
.pictures .pictures-padding {
  padding: 0 84px;
}
@media only screen and (max-width: 1399px) {
  .pictures .pictures-padding {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .pictures .pictures-padding {
    padding: 0;
  }
}
.pictures .pictures-side-hover {
  position: absolute;
  top: 136px;
  left: 0;
  height: calc(100vh - 136px);
  width: 20px;
  z-index: 5;
}
@media only screen and (max-width: 991px) {
  .pictures .pictures-side-hover {
    display: none;
  }
}

.review {
  margin-top: 83px;
  margin-bottom: 87px;
}
.review .review-heading {
  display: flex;
  gap: 2px;
  margin-bottom: 32px;
}
.review .review-heading h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 14px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.review .review-heading h5::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  background-color: #000000;
}
.review .review-heading span {
  font-weight: 400;
  font-size: 14px;
}
.review .review-container {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 35px;
  max-width: 660px;
  margin-bottom: 36px;
}
@media only screen and (max-width: 991px) {
  .review .review-container {
    max-width: none;
  }
}
.review .review-container .review-btn {
  float: right;
  text-align: end;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}
@media only screen and (max-width: 767px) {
  .review .review-container .review-btn {
    display: none;
  }
}
.review .review-content {
  margin-top: 53px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .review .review-content {
    flex-direction: column;
    margin-top: 0;
  }
}
.review .review-star {
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.review .review-star h2 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 9px;
}
.review .review-star svg {
  margin-bottom: 10px;
}
.review .review-star h6 {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 15px;
}
.review .review-rate {
  padding-left: 50px;
  border-left: 1px solid #f2f2f2;
  flex-shrink: 0;
}
@media only screen and (max-width: 767px) {
  .review .review-rate {
    border: 0;
    padding-left: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.review .review-rate .review-rate-item {
  display: flex;
  gap: 28px;
  align-items: center;
  margin-bottom: 2px;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 480px) {
  .review .review-rate .review-rate-item {
    gap: 10px;
  }
}
.review .review-rate .review-rate-item span {
  font-weight: 400;
  font-size: 14px;
  min-width: 9px;
}
.review .review-rate .review-rate-item .review-rate-line {
  display: block;
  width: 248px;
  height: 6px;
  border-radius: 3px;
  background-color: #f2f2f2;
  position: relative;
}
.review .review-rate .review-rate-item .review-rate-line.review-rate-line-90::after {
  content: "";
  width: 218px;
  height: 6px;
  border-radius: 3px;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
}
.review .review-comments {
  max-width: 660px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 34px 34px 32px 20px;
}
@media only screen and (max-width: 991px) {
  .review .review-comments {
    max-width: none;
    padding: 34px 20px;
  }
}
.review .review-comments h5 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 23px;
}
.review .review-comments .review-comments-form {
  border: 1px solid #ededed;
  border-radius: 3px;
}
.review .review-comments .review-comments-form .review-comments-group {
  display: flex;
  padding: 6px 10px 12px 10px;
  gap: 8px;
}
@media only screen and (max-width: 767px) {
  .review .review-comments .review-comments-form .review-comments-group {
    flex-wrap: wrap;
  }
}
.review .review-comments .review-comments-form .review-comments-input,
.review .review-comments .review-comments-form label {
  border-radius: 3px;
  border: 1px solid #ededed;
}
@media only screen and (max-width: 767px) {
  .review .review-comments .review-comments-form .review-comments-input,
  .review .review-comments .review-comments-form label {
    width: 100%;
  }
}
.review .review-comments .review-comments-form .review-comments-input {
  padding: 6px 20px;
  font-weight: 300;
  font-size: 14px;
  width: 100%;
}
.review .review-comments .review-comments-form .review-comments-input::-moz-placeholder {
  color: #5f5f5f;
}
.review .review-comments .review-comments-form .review-comments-input::placeholder {
  color: #5f5f5f;
}
.review .review-comments .review-comments-form .review-comments-input:focus-visible {
  border: 1px solid #5f5f5f;
}
.review .review-comments .review-comments-form .review-comments-img {
  position: relative;
  width: 70px;
  background-image: url("../assets/image/camera-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  flex-shrink: 0;
}
@media only screen and (max-width: 767px) {
  .review .review-comments .review-comments-form .review-comments-img {
    height: 34px;
  }
}
.review .review-comments .review-comments-form .review-comments-img span {
  display: none;
  font-weight: 300;
  font-size: 14px;
  color: #5f5f5f;
}
@media only screen and (max-width: 767px) {
  .review .review-comments .review-comments-form .review-comments-img span {
    display: inline-block;
    position: absolute;
    right: -160%;
    top: 5px;
  }
}
.review .review-comments .review-comments-form textarea {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #ededed;
  width: 100%;
  resize: both;
}
.review .review-comments .review-comments-form textarea::-moz-placeholder {
  color: #5f5f5f;
}
.review .review-comments .review-comments-form textarea::placeholder {
  color: #5f5f5f;
}
.review .review-comments .review-comments-form textarea:focus-visible {
  outline: 1px solid #5f5f5f;
}
.review .review-comments .review-comments-form .review-comments-submit {
  padding: 6px 23px;
  border-radius: 5px;
}

.recent {
  margin-bottom: 100px;
}
@media only screen and (max-width: 991px) {
  .recent {
    display: none;
  }
}
.recent .recent-heading {
  font-weight: 800;
  font-size: 24px;
  text-align: left;
  margin-bottom: 43px;
}
.recent .recent-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.recent .recent-item .recent-item-img {
  display: block;
  width: 100%;
  aspect-ratio: 312/210;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 18px;
}
.recent .recent-item .recent-item-img img {
  transition: all 0.7s ease;
}
.recent .recent-item .recent-item-img:hover img {
  transform: scale(1.2);
}
.recent .recent-item .recent-item-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  transition: all 0.5s ease;
  margin-bottom: 25px;
}
.recent .recent-item .recent-item-title:hover {
  text-decoration: underline;
  text-decoration-line: 1px;
}
.recent .recent-item .recent-item-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.recent .recent-item .recent-item-price .recent-item-price-old {
  font-weight: 400;
  text-decoration: line-through;
  color: #939393;
  margin-left: 10px;
}

.side {
  flex-shrink: 0;
  width: 427px;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.2);
  transform: translateX(0%);
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}
@media only screen and (max-width: 1199px) {
  .side {
    width: 390px;
  }
}
@media only screen and (max-width: 991px) {
  .side {
    display: none;
  }
}
.side.close {
  transform: translateX(100%);
  box-shadow: none;
}
.side .side-main {
  padding-top: 15px;
  height: calc(100% - 141px);
  overflow: hidden;
}
.side .side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 34px 0 37px;
}
@media only screen and (max-width: 1199px) {
  .side .side-header {
    padding: 0 20px;
  }
}
.side .side-wishlist {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.side .side-wishlist:hover {
  background-color: #000000;
}
.side .side-wishlist:hover svg path {
  fill: #ffffff;
}
.side .side-close {
  width: 21px;
  height: 21px;
}
.side .side-close svg {
  width: 100%;
  height: 100%;
}
.side .side-name {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  padding: 0px 31px 0 37px;
  margin-bottom: 13px;
}
@media only screen and (max-width: 1199px) {
  .side .side-name {
    padding: 0 20px;
  }
}
.side .side-review {
  display: flex;
  justify-content: space-between;
  padding: 15px 31px 15px 37px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1199px) {
  .side .side-review {
    padding: 15px 20px;
  }
}
.side .side-review .side-review-item {
  display: flex;
  align-items: center;
  gap: 7px;
}
.side .side-review .side-review-content {
  font-size: 14px;
  color: #616161;
}
.side .side-price {
  padding: 0 37px;
  margin-bottom: 27px;
}
@media only screen and (max-width: 1199px) {
  .side .side-price {
    padding: 0 20px;
  }
}
.side .side-price .side-price-discount {
  font-weight: 700;
  font-size: 24px;
}
.side .side-price .side-price-old {
  font-size: 16px;
  color: #969595;
  text-decoration: line-through;
  margin-left: 7px;
}
.side .side-action {
  padding: 0px 30px 0 37px;
  margin-bottom: 35px;
}
@media only screen and (max-width: 1199px) {
  .side .side-action {
    padding: 0 20px;
  }
}
.side .side-btn {
  display: block;
  border-radius: 500px;
  border: 1px solid #000000;
  width: 100%;
  padding: 20px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.side .side-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
.side .side-btn.side-btn-fill {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
}
.side .side-btn.side-btn-fill:hover {
  color: #000000;
  background-color: #ffffff;
}
.side .side-descript {
  height: calc(100% - 490px);
  overflow: hidden;
  padding-bottom: 10px;
}
.side .side-descript h6 {
  padding-left: 37px;
  padding-right: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1199px) {
  .side .side-descript h6 {
    padding-left: 20px;
    padding-right: 30px;
  }
}
.side .side-descript .side-descript-content {
  padding-left: 37px;
  padding-right: 50px;
  padding-bottom: 20px;
  overflow-y: scroll;
  height: 100%;
}
.side .side-descript .side-descript-content p {
  font-size: 16px;
  color: #969595;
}
@media only screen and (max-width: 1199px) {
  .side .side-descript .side-descript-content {
    padding-left: 20px;
    padding-right: 30px;
  }
}
.side .side-descript .side-descript-content::-webkit-scrollbar {
  width: 5px;
}
.side .side-descript .side-descript-content::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1;
}
.side .side-descript .side-descript-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #727272;
}
.side .side-footer {
  height: 141px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.side .side-footer .side-footer-group {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  margin-bottom: 22px;
}
.side .side-footer .side-footer-group .side-footer-group-line {
  height: 30px;
  width: 1px;
  display: block;
  background-color: #ededed;
}
.side .side-footer .side-footer-share {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 16px;
}
.side .side-footer .side-footer-share .side-footer-share-content {
  font-weight: 500;
  font-size: 14px;
}
.side .side-footer .side-footer-tag {
  padding: 0px 31px 0 37px;
  font-size: 16px;
  color: #616161;
}
@media only screen and (max-width: 1199px) {
  .side .side-footer .side-footer-tag {
    padding: 0 20px;
  }
}

.particular {
  margin-top: 71px;
  display: none;
}
@media only screen and (max-width: 991px) {
  .particular {
    display: block;
  }
}
.particular .particular-border {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.particular .particular-name {
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 14px;
}
.particular .particular-statistic {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}
.particular .particular-statistic .particular-statistic-item {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  color: #616161;
}
.particular .particular-des {
  margin-top: 25px;
  margin-bottom: 48px;
}
.particular .particular-des h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.particular .particular-des p {
  font-size: 16px;
  line-height: 1.5;
  color: #969595;
  margin-bottom: 20px;
}
.particular .particular-share {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  gap: 100px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
@media only screen and (max-width: 480px) {
  .particular .particular-share {
    gap: 60px;
  }
}
.particular .particular-share .particular-share-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #000000;
}
.particular .particular-share .particular-share-line {
  width: 1px;
  height: 30px;
  background-color: #ededed;
}
.particular .particular-tag {
  font-size: 16px;
  color: #616161;
  margin-top: 22px;
}

.action-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: none;
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 991px) {
  .action-mobile {
    display: block;
  }
}
.action-mobile .action-mobile-wishlist {
  float: right;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.action-mobile .action-mobile-wishlist:hover {
  background-color: #000000;
}
.action-mobile .action-mobile-wishlist:hover svg path {
  fill: #ffffff;
}
.action-mobile .action-mobile-price {
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.action-mobile .action-mobile-price .action-mobile-price-old {
  font-size: 16px;
  color: #939393;
  text-decoration: line-through;
  margin-left: 7px;
}
.action-mobile .action-mobile-btn {
  display: block;
  border-radius: 500px;
  border: 1px solid #000000;
  width: 100%;
  padding: 20px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.action-mobile .action-mobile-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
.action-mobile .action-mobile-btn.action-mobile-btn-fill {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
}
.action-mobile .action-mobile-btn.action-mobile-btn-fill:hover {
  color: #000000;
  background-color: #ffffff;
}