.slider .slider-item {
  width: 100%;
  aspect-ratio: 1600/743;
}
@media only screen and (max-width: 767px) {
  .slider .slider-item {
    aspect-ratio: 1;
  }
}
.slider .slider-item .slider-item-content {
  z-index: 2;
  top: 165px;
  left: 0;
  width: 100%;
}
@media only screen and (max-width: 1399px) {
  .slider .slider-item .slider-item-content {
    top: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .slider .slider-item .slider-item-content {
    top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .slider .slider-item .slider-item-content {
    display: none;
  }
}
.slider .slider-item .slider-item-content h6 {
  color: #004e94;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  .slider .slider-item .slider-item-content h6 {
    margin-bottom: 10px;
  }
}
.slider .slider-item .slider-item-content h2 {
  color: #004e94;
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 75px;
}
@media only screen and (max-width: 991px) {
  .slider .slider-item .slider-item-content h2 {
    font-size: 3rem;
    line-height: 1.3;
  }
}
.slider .slider-item .slider-item-content a {
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 400px;
  background: #98ca1d;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  width: fit-content;
  margin-top: 30px;
  border: 1px solid #98ca1d;
}
.slider .slider-item .slider-item-content a:hover {
  text-decoration-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.5);
  color: #98ca1d;
}
.slider .slider-pagination {
  bottom: 41px;
}
@media only screen and (max-width: 991px) {
  .slider .slider-pagination {
    bottom: 20px;
  }
}
.slider .slider-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  background-color: #ffffff;
  margin: 0 7.5px;
  border-radius: 0;
}
.slider .slider-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.benefits {
  border-bottom: 1px solid #d9d9d9;
}
.benefits .benefits-scroll {
  width: 100%;
  white-space: nowrap;
}
@media only screen and (max-width: 1199px) {
  .benefits .benefits-scroll {
    overflow: auto;
  }
}
@media only screen and (max-width: 480px) {
  .benefits .benefits-scroll .benefits-box {
    min-width: 290px;
    padding: 0 24px;
  }
  .benefits .benefits-scroll .benefits-box svg {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
  }
  .benefits .benefits-scroll .benefits-box p {
    line-height: 1.4;
  }
  .benefits .benefits-scroll .benefits-box .vertical-line {
    height: 100%;
  }
}
.benefits .benefits-scroll .benefits-box {
  min-width: 299px;
  padding: 49px 32px;
}
.benefits .benefits-scroll .benefits-box svg {
  flex-shrink: 0;
}
.benefits .benefits-scroll .benefits-box p {
  white-space: break-spaces;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.benefits .benefits-scroll .benefits-box span {
  display: block;
  font-weight: 700;
}
.benefits .benefits-scroll .benefits-box:not(:first-child) {
  border-left: solid 1px #d9d9d9;
}
.benefits .benefits-scroll .benefits-box .vertical-line {
  border-left: solid 1px #d9d9d9;
  height: calc(100% - 18px);
  margin: 0 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.justin .justin-container {
  margin-top: 57px;
}
button.view-all {
  display: flex;
  width: 100%;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #98ca1d;
  color: #98ca1d;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-top: 65px;
  transition: all 0.5s ease;
}
button.view-all:hover {
  border: 1px solid #98ca1d;
  color: #fff;
  background: #98ca1d;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 767px) {
  .justin .justin-container {
    margin-top: 30px;
  }
  button.view-all {
    padding: 15px 10px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
  }
}

.collection {
  margin-bottom: 127px;
}
@media only screen and (max-width: 991px) {
  .collection {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .collection {
    margin-bottom: 20px;
  }
}
.collection .collection-container {
  margin-top: 59px;
  display: flex;
  gap: 13px;
}
@media only screen and (max-width: 991px) {
  .collection .collection-container {
    flex-direction: column;
  }
}
.collection .collection-group {
  width: calc((100% - 39px) / 4);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media only screen and (max-width: 991px) {
  .collection .collection-group {
    flex-direction: row;
    width: 100%;
  }
}
.collection .collection-item {
  width: 100%;
  aspect-ratio: 284/227;
  overflow: hidden;
  position: relative;
}
.collection .collection-item .collection-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding-bottom: 35px;
}
@media only screen and (max-width: 480px) {
  .collection .collection-item .collection-item-content {
    gap: 20px;
  }
}
.collection .collection-item .collection-item-content h5 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(160%);
  transition: all 0.5s ease;
}
@media only screen and (max-width: 480px) {
  .collection .collection-item .collection-item-content h5 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .collection .collection-item .collection-item-content h5 {
    transform: translateY(0);
  }
}
.collection .collection-item .collection-item-content .collection-item-btn {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 480px) {
  .collection .collection-item .collection-item-content .collection-item-btn a {
    padding: 10px 15px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .collection .collection-item .collection-item-content .collection-item-btn {
    visibility: visible;
    opacity: 1;
  }
}
.collection .collection-item .collection-item-content:hover h5 {
  transform: translateY(0);
}
.collection
  .collection-item
  .collection-item-content:hover
  .collection-item-btn {
  visibility: visible;
  opacity: 1;
}
.collection .collection-item.collection-item-center {
  width: 100%;
}
.collection .collection-item.collection-item-center .collection-item-content {
  gap: 13px;
  padding-bottom: 42px;
}
.collection
  .collection-item.collection-item-center
  .collection-item-content
  h5 {
  transform: translateY(0);
  font-size: 40px;
  letter-spacing: 0;
}
@media only screen and (max-width: 480px) {
  .collection
    .collection-item.collection-item-center
    .collection-item-content
    h5 {
    letter-spacing: 0.1em;
    font-size: 2rem;
  }
}
.collection
  .collection-item.collection-item-center
  .collection-item-content
  .collection-item-btn {
  visibility: visible;
  opacity: 1;
}
.collection
  .collection-item.collection-item-center
  .collection-item-content
  .collection-item-btn
  a {
  padding: 9.5px 39.5px;
  font-size: 16px;
}
@media only screen and (max-width: 480px) {
  .collection
    .collection-item.collection-item-center
    .collection-item-content
    .collection-item-btn
    a {
    padding: 10px 32px;
  }
}

.video {
  width: 100%;
  aspect-ratio: 1600/690;
  overflow: hidden;
  position: relative;
  margin-bottom: 91px;
}
@media only screen and (max-width: 767px) {
  .video {
    margin-bottom: 70px;
  }
}
.video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.video .video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}
.video .video-thumbnail .video-play {
  position: absolute;
  top: 42%;
  left: 48%;
  right: auto;
  z-index: 10;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .video .video-thumbnail .video-play {
    top: 38%;
  }
}
@media only screen and (max-width: 767px) {
  .video .video-thumbnail .video-play {
    top: 30%;
    left: 42%;
  }
}
.video .video-thumbnail.hidden {
  opacity: 0;
  visibility: hidden;
}

.overview {
  position: relative;
}
.overview .overview-bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.overview .overview-container {
  position: relative;
  z-index: 1;
  padding: 111px 0 103px 0;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .overview .overview-container {
    padding: 70px 0;
  }
}
@media only screen and (max-width: 480px) {
  .overview .overview-container {
    padding: 40px 0;
  }
}
.overview .overview-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
}
@media only screen and (max-width: 767px) {
  .overview .overview-item {
    gap: 20px;
  }
}
.overview .overview-item .overview-item-icon {
  width: 85px;
  height: 85px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview .overview-item .overview-item-icon svg {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}
.overview .overview-item .overview-item-label {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .overview .overview-item .overview-item-label {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .overview .overview-item .overview-item-label {
    font-size: 16px;
  }
}

.testimonials {
  margin-bottom: 106px;
}
.testimonials .testimonials-container {
  margin-top: 92px;
}
@media only screen and (max-width: 991px) {
  .testimonials .testimonials-container {
    margin-top: 50px;
  }
}
.testimonials .testimonials-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 43px;
}
@media only screen and (max-width: 1199px) {
  .testimonials .testimonials-item {
    padding: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonials .testimonials-item {
    padding: 0 50px;
  }
}
.testimonials .testimonials-item .testimonials-item-rating {
  margin-bottom: 30px;
}
.testimonials .testimonials-item .testimonials-item-account {
  gap: 20px;
}
.testimonials .testimonials-item .testimonials-item-avatar {
  width: 65px;
  height: 76px;
}
.testimonials .testimonials-item .testimonials-item-name {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 3px;
}
.testimonials .testimonials-item .testimonials-item-job {
  font-size: 14px;
}
.testimonials .testimonials-item .testimonials-item-speak {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.testimonials .testimonials-item .testimonials-item-des {
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 15px;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  min-height: 96px;
}
.testimonials .testimonials-prev,
.testimonials .testimonials-next {
  top: 35%;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .testimonials-prev svg,
.testimonials .testimonials-next svg {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 100%;
}
@media only screen and (max-width: 991px) {
  .testimonials .testimonials-prev,
  .testimonials .testimonials-next {
    display: none;
  }
}
.testimonials .testimonials-prev {
  left: calc((100% - 1160px) / 2 - 22px);
}
@media only screen and (max-width: 1399px) {
  .testimonials .testimonials-prev {
    left: calc((100% - 1116px) / 2 - 22px);
  }
}
@media only screen and (max-width: 1199px) {
  .testimonials .testimonials-prev {
    left: calc((100% - 936px) / 2 - 22px);
  }
}
.testimonials .testimonials-next {
  right: calc((100% - 1160px) / 2 - 22px);
}
@media only screen and (max-width: 1399px) {
  .testimonials .testimonials-next {
    right: calc((100% - 1116px) / 2 - 22px);
  }
}
@media only screen and (max-width: 1199px) {
  .testimonials .testimonials-next {
    right: calc((100% - 936px) / 2 - 22px);
  }
}

.instagram .instagram-container {
  margin-top: 54px;
}
@media only screen and (max-width: 480px) {
  .instagram .instagram-container {
    margin-top: 30px;
  }
}
.instagram .instagram-item {
  aspect-ratio: 1;
  overflow: hidden;
}

.partner {
  margin-bottom: 106px;
}
@media only screen and (max-width: 991px) {
  .partner {
    margin-bottom: 60px;
  }
}
.partner .partner-container {
  padding-top: 100px;
}
@media only screen and (max-width: 767px) {
  .partner .partner-container {
    padding-top: 80px;
  }
}
.partner .partner-container .partner-item {
  cursor: pointer;
}
@media only screen and (max-width: 1199px) {
  .partner .partner-container .partner-item {
    max-height: 35px;
  }
}
.partner .partner-container .partner-item svg {
  max-height: 100%;
}
.partner .partner-container .partner-item svg path {
  transition: all 0.3s ease;
}
@media only screen and (max-width: 991px) {
  .partner .partner-container {
    overflow: auto;
    padding-bottom: 15px;
  }
}

#fhm-home-just-in {
  margin-top: 84px;
  margin-bottom: 108px;
}

#fhm-home-list {
  margin-bottom: 98px;
}

#fhm-home-overview {
  margin-bottom: 108px;
}
@media only screen and (max-width: 767px) {
  #fhm-home-overview {
    margin-bottom: 60px;
  }
}

/* HOME BANNER */
#fhm-home-banner {
  position: relative;
  margin-bottom: 120px;
}
#fhm-home-banner .banner-img {
  width: 100%;
}
#fhm-home-banner .banner-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  height: 100%;
  top: 0;
  z-index: 2;
  width: 100%;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}
#fhm-home-banner .banner-content h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#fhm-home-banner .banner-content h2 {
  color: #fff;
  font-size: 46px;
  font-weight: 300;
  line-height: 70px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  #fhm-home-banner .banner-content {
    display: none;
  }
}

/* HOME TESTIMONIAL */
#fhm-testimonial {
  padding-bottom: 120px;
  position: relative;
  /* background: url(../assets/image/bg-news.png);
  background-size: cover; */
}
#fhm-testimonial::after {
  content: url(../assets/image/bg-news.png);
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}
#fhm-testimonial .section-content p {
  color: #575757;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.24px;
  padding: 0 23%;
}
#fhm-testimonial .section-content h3 {
  margin-bottom: 10px;
}
#fhm-testimonial .testimonials-slider {
  margin-top: 50px;
}
.testimonial-item .testimonial-item-img {
  aspect-ratio: 370/240;
}
.testimonial-item .testimonial-item-img img {
  border-radius: 10px;
}
.testimonial-item .testimonial-item-content {
  margin-top: 20px;
}
.testimonial-item .testimonial-item-content span {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  display: block;
}
.testimonial-item .testimonial-item-content a {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.testimonial-item:hover .testimonial-item-img {
  box-shadow: 0px 4px 10px 0px rgba(0.4, 0.4, 0.4, 0.4);
  border-radius: 10px;
}
@media (max-width: 991px) {
  #fhm-testimonial .section-content p {
    display: none;
  }
  .testimonial-item .testimonial-item-content span {
    font-size: 10px;
    letter-spacing: 1.3px;
  }
  .testimonial-item .testimonial-item-content a {
    font-size: 12px;
  }
}
